@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pacifico;
  src: url("../assets/fonts/pacifico/Pacifico-Regular.ttf");
}

@font-face {
  font-family: roboto-regular;
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-bold;
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
}
