@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: pacifico;
  src: url("../assets/fonts/pacifico/Pacifico-Regular.ttf");
}

@font-face {
  font-family: roboto-regular;
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-bold;
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
}

* {
  font-family: roboto-regular;
  font-size: 20px;
  color: #101010;
}

body {
  background-color: #E7E7E7;
}